In [7]:
weight = 78.2
weight = 76.9
weight

76.9

In [8]:
x=100
y=200
x,y

(100, 200)

In [9]:
x+y

300

In [10]:
x*y

20000

In [11]:
x**y

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [12]:
x, y = 300,400
x,y

(300, 400)

In [13]:
y/x

1.3333333333333333

In [14]:
y%x

100

In [15]:
or = 300

SyntaxError: invalid syntax (3650259432.py, line 1)

In [16]:
o_r = 300

In [17]:
3or = 300

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\309\AppData\Local\Temp\ipykernel_13412\3864518707.py:1: SyntaxWarning: invalid decimal literal
  3or = 300

SyntaxError: invalid syntax (3864518707.py, line 1)

In [19]:
_250912 = "금요일"

In [20]:
x = 79.3 #x는 체중

In [23]:
name = "박수진"
name

'박수진'

In [26]:
age = '3살'
age

'3살'

In [27]:
s1 = 'Hello World!'
s1

'Hello World!'

In [28]:
len(s1)

12

In [35]:
n1 = '100'
n2 = '200'
n1 + n2

n2 = 200
print(type(n1))

<class 'str'>

In [39]:
'''
이름 : 박수진
학과 : 인공지능소프트웨어학과
'''
weight = 77
height = 1.85
BMI = weight / height ** 2

print(BMI)

22.498173849525198